<main id="main" class="main">
  <div class="pagetitle">
    <h1>Recherche axes</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">UMI</a></li>
        <li class="breadcrumb-item">Recherche axes</li>
        <li class="breadcrumb-item active">Index</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <table class="table datatable">
              <thead>
                <tr>
                  <th><b>Name</b></th>
                  <th data-type="date" data-format="YYYY/DD/MM">Created at</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let recherche_axe of rechercheAxes">
                  <td>{{ recherche_axe.name }}</td>
                  <td>{{ recherche_axe.created_at }}</td>
                  <td class="d-flex">
                    <button
                      type="button"
                      class="btn btn-primary m-1"
                      (click)="editRechercheAxe(recherche_axe.id!)"
                    >
                    <i class="fas fa-edit"></i> Edit
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger m-1"
                      (click)="deleteRechercheAxe(recherche_axe.id!)"
                    >
                    <i class="fas fa-trash"></i> Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
