<main id="main" class="main">
    <div class="pagetitle">
      <h1>Professors</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">UMI</a></li>
          <li class="breadcrumb-item">Professors</li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->
    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Professors information</h5>
          <!-- Floating Labels Form -->
          <form
            [formGroup]="professorFormGroup" (ngSubmit)="handleCreateProfessor()"           
            class="row g-3"
          >
            <div class="col-md-12">
              <div class="form-floating">
                <input type="text" placeholder="Professor Name" class="form-control" id="professorName" formControlName="firstname" required>
                <label for="professorName">Firstname</label>
              </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" placeholder="Professor LastName" class="form-control" id="professorLastname" formControlName="lastname" required>
                  <label for="professorLastname">Lastname</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" placeholder="Professor Email" class="form-control" id="professorEmail" formControlName="email" required>
                  <label for="professorEmail">Email</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating">
                  <input type="text" placeholder="Professor Phone" class="form-control" id="professorPhone" formControlName="phone" required>
                  <label for="professorPhone">Phone</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating">
                  <select class="form-select" id="labo" formControlName="labo">
                    <option *ngFor="let labo of labos" [value]="labo.id">{{ labo.acroname }}</option>
                  </select>
                  <label for="labo">Laboratory</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating">
                  <select class="form-select" id="team" formControlName="team">
                    <option *ngFor="let team of teams" [value]="team.id">{{ team.title }}</option>
                  </select>
                  <label for="team">Teams</label>
                </div>
              </div>
            
            <div class="text-center d-flex justify-content-between">
              <button type="submit" class="btn btn-primary" [disabled]="!this.professorFormGroup.valid">Submit</button>
              <button type="reset" class="btn btn-secondary" (click)="handleCancel()">Reset</button>
            </div>
          </form>
          <!-- End floating Labels Form -->
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->
  