<main id="main" class="main">
    <div class="pagetitle">
      <h1>Formations</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">UMI</a></li>
          <li class="breadcrumb-item">Formations</li>
          <li class="breadcrumb-item active">Create</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->
    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Formation informations</h5>
          <!-- Floating Labels Form -->
          <form (ngSubmit)="createFormation()" class="row g-3" #formationForm="ngForm">
            <div class="col-md-12">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="intitule"
                  name="intitule"
                  placeholder="Intitule Formation"
                  [(ngModel)]="newFormation.intitule"
                  required
                />
                <label for="intitule">Intitule</label>
              </div>
            </div>
  
            <div class="col-md-12">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="typeFormation"
                  name="typeFormation"
                  placeholder="Type Formation"
                  [(ngModel)]="newFormation.typeFormation"
                  required
                />
                <label for="typeFormation">Type Formation</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Responsable Formation"
                  id="responsable"
                  name="responsable"
                  style="height: 100px"
                  [(ngModel)]="newFormation.responsable"
                  required
                ></textarea>
                <label for="responsable">Responsable</label>
              </div>
            </div>
  
            <!-- <div class="col-md-12">
              <div class="form-group">
                <label for="imageDescriptive">Image Descriptive</label>
                <input
                  type="file"
                  class="form-control-file"
                  id="imageDescriptive"
                  name="imageDescriptive"
                  (change)="onImageSelected($event)"
                  accept="image/*"
                />
              </div>
            </div> -->
  
            <div class="col-md-12">
              <div class="form-group">
                <label for="documentDescriptif">Document Descriptif</label>
                <input
                  type="file"
                  class="form-control-file"
                  id="documentDescriptif"
                  name="documentDescriptif"
                  (change)="onDocumentSelected($event)"
                  accept=".pdf"
                />
              </div>
            </div>
  
            <div class="text-center d-flex justify-content-between">
              <button type="reset" class="btn btn-secondary" (click)="formationForm.reset()">Reset</button>
  
              <button type="submit" class="btn btn-primary" [disabled]="formationForm.invalid">Submit</button>
            </div>
          </form>
          <!-- End floating Labels Form -->
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->
  