<main id="main" class="main">
  <div class="pagetitle">
    <h1>Ecole Doctorale</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">UMI</a></li>
        <li class="breadcrumb-item">Ecole Doctorale</li>
        <li class="breadcrumb-item active">Edit</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Edit Ecole Doctorale</h5>
        <!-- Floating Labels Form -->
        <form
          (ngSubmit)="updateEcoleDoctorale()"
          class="row g-3"
          #ecoleDoctoraleForm="ngForm"
        >
          <div class="col-md-12">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Ecole Doctorale Name"
                [(ngModel)]="selectedEcoleDoctorale.name"
                required
              />
              <label for="name">Name</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="slug"
                name="slug"
                placeholder="Ecole Dcotorale Slug"
                [(ngModel)]="selectedEcoleDoctorale.slug"
                required
              />
              <label for="slug">Slug</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Ecole Doctorale Description"
                id="description"
                name="description"
                style="height: 100px"
                [(ngModel)]="selectedEcoleDoctorale.description"
                required
              ></textarea>
              <label for="description"></label>
            </div>
          </div>
          <div class="text-center d-flex justify-content-between">
            <button
              type="reset"
              class="btn btn-secondary"
              (click)="ecoleDoctoraleForm.reset()"
            >
              Reset
            </button>

            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="ecoleDoctoraleForm.invalid"
            >
              Update
            </button>
          </div>
        </form>
        <!-- End floating Labels Form -->
      </div>
    </div>
  </section>
</main>
<!-- End #main -->