<main id="main" class="main">
  <div class="pagetitle">
    <h1>Teams</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">UMI</a></li>
        <li class="breadcrumb-item">Teams</li>
        <li class="breadcrumb-item active">Edit</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Edit Team</h5>
        <!-- Floating Labels Form -->
        <form (ngSubmit)="updateTeam()" class="row g-3" #teamForm="ngForm">
          <div class="col-md-12">
            <div class="form-floating">
              <select
                type="text"
                class="form-control"
                id="department_id"
                name="department_id"
                placeholder="Department Name"
                [(ngModel)]="selectedTeam.department_id"
                required
              >
                <option
                  *ngFor="let department of departments"
                  value="{{ department.id }}"
                >
                  {{ department.name }}
                </option>
              </select>
              <label for="department_id">Department</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-floating">
              <select
                type="text"
                class="form-control"
                id="labo_id"
                name="labo_id"
                placeholder="labo Name"
                [(ngModel)]="selectedTeam.labo.id"
                required
              >
                <option *ngFor="let labo of labos" value="{{ labo.id }}">
                  {{ labo.title }}
                </option>
              </select>
              <label for="labo_id">Labo</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                placeholder="Team Title"
                [(ngModel)]="selectedTeam.title"
                required
              />
              <label for="title">Title</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="slug"
                name="slug"
                placeholder="Team Slug"
                [(ngModel)]="selectedTeam.slug"
                required
              />
              <label for="slug">Slug</label>
            </div>
          </div>

          <div class="col-md-12">
            <label class="m-3" for="rechercheAxes">Recherche Axes</label>
            <div
              *ngFor="let axe of rechercheAxes; let i = index"
              class="form-check"
            >
              <input
                type="checkbox"
                class="form-check-input"
                [id]="'rechercheAxe_' + axe.id"
                [checked]="selectedRechercheAxes[i]"
                (change)="updateSelectedRechercheAxes(i)"
              />
              <label [for]="'rechercheAxe_' + axe.id" class="form-check-label">
                {{ axe.name }}
              </label>
            </div>
          </div>

          <div class="text-center d-flex justify-content-between">
            <button
              type="reset"
              class="btn btn-secondary"
              (click)="teamForm.reset()"
            >
              Reset
            </button>

            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="teamForm.invalid"
            >
              Update
            </button>
          </div>
        </form>
        <!-- End floating Labels Form -->
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
