<main id="main" class="main">
  <div class="pagetitle">
    <h1>Filieres</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">UMI</a></li>
        <li class="breadcrumb-item">Filieres</li>
        <li class="breadcrumb-item active">Index</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <table class="table datatable">
              <thead>
                <tr>
                  <th><b>Id</b></th>
                  <th><b>Name</b></th>
                  <th><b>NB Annees</b></th>
                  <th><b>NB Semestres</b></th>
                  <th><b>Responsable</b></th>
                  <!--<th><b>Annee Diplomante</b></th>
                    <th><b>AnneesNonDiplomantes</b></th> -->
                  <!-- <th><b>Slug</b></th> -->
                  <!-- <th><b>Departement</b></th> -->
                  <th data-type="date" data-format="YYYY/DD/MM">Created at</th>
                  <th data-type="date" data-format="YYYY/DD/MM">Updated at</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let filiere of filieres">
                  <td>{{ filiere.id }}</td>
                  <td>{{ filiere.name }}</td>
                  <td>{{ filiere.nbAnnees }}</td>
                  <td>{{ filiere.nbSemestres }}</td>
                  <td>{{ filiere.responsable}}</td>
                  <!-- <td>{{ filiere.anneeDiplomante}}</td>
                    <td>{{ filiere.anneesNonDiplomantes}}</td>
                    <td>{{ filiere.slug}}</td> -->
                    <!-- <td>{{ filiere.department_id}}</td> -->
                  <td>{{ filiere.createdAt }}</td>
                  <td>{{ filiere.updatedAt }}</td>
                  <td class="d-flex">
                    <button
                      type="button"
                      class="btn btn-primary m-1"
                      (click)="editFiliere(filiere.id!)"
                    >
                      <i class="fas fa-edit"></i> Edit
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger m-1"
                      (click)="deleteFiliere(filiere.id!)"
                    >
                      <i class="fas fa-trash"></i> Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
